<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <!-- <div class="logo">

      </div> -->
      <nav class="grid-group">
        <div class="logo">

          <a href="/"><img src="https://placehold.co/64x64/000000/eeeeee/png" class="logo-png"
              aria-label="Go to home page" alt="Lorem ipsum dolor sit amet"></a>
        </div>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Link to Portfolio Page</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>